.content-form{
    /*background-color: rgb(34, 34, 34);
    width: 60%;*/
    margin-top: 60px;
    padding: 30px;
}

.content-form h1{
    color: white;
}

form{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

form label{
    color: white;
    font-size: 15px;
}

.comentario{
    color: white;
    font-size: 15px;
    margin-top: 70px; 
    padding: 20px;
    width: 90%;
}

.cont-form{
    margin: 0 auto;
    display: flex;
    background: rgba(2,56,14, 0.71);
    width: 80%;
}