<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}X Congreso Internacional De Sistemas Silvopastoriles{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link href="{{url_for('static', filename='css/jquery.mb.YTPlayer.min.css')}}" media="all" rel="stylesheet" type="text/css">-->
    <link href="{{url_for('static', filename='css/style_nvo.css')}}" media="all" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

</head>

<body>


    {% block content %}{% endblock %}

    <!--Boton hacia arriba-->
    <a class="ir-arriba" href="#" title="Volver arriba">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='jquery.mb.YTPlayer.min.js')}}"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>

    <script>
        jQuery(function () {
            jQuery("#bgndVideo").YTPlayer();
        });

        $('a').click(function () {
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top
            }, 600);
            return false;
        });

        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                if ($(this).scrollTop() > $nav.height()) {
                    var $logo = $(".navbar-brand");
                    $logo.attr("hidden",false);
                } else {
                    var $logo = $(".navbar-brand");
                    $logo.attr("hidden",true);
                }
                

            });
        });

        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 550) {
                    $('body').addClass('changeimage')
                }
                if ($(this).scrollTop() < 550) {
                    $('body').removeClass('changeimage')
                }
            });
        });

        //$('#myModal').modal('show');
            //setTimeout(function(){ 
        //$('#myModal').modal('hide'); }, 15000);

        $(document).ready(function () {

            /*********************************************** boton hacia arriba **********************************************/
            $('.ir-arriba').click(function () {
                $('body, html').animate({
                    scrollTop: '0px'
                }, 1000);
            });

            $(window).scroll(function () {
                if ($(this).scrollTop() > 0) {
                    $('.ir-arriba').slideDown(600);
                } else {
                    $('.ir-arriba').slideUp(600);
                }
            });

            /*hacia abajo*/
            $('.ir-abajo').click(function () {
                $('body, html').animate({
                    scrollTop: '1000px'
                }, 1000);
            });

        });
    </script>
    <script>
        $('.form-checkbox>input[type="checkbox"]').on('change', function() {
            $('.form-checkbox>input[type="checkbox"]').not(this).prop('checked', false);
        });
        $('.form-check1>input[type="checkbox"]').on('change', function() {
            $('.form-check1>input[type="checkbox"]').not(this).prop('checked', false);
        });
        $('.form-check2>input[type="checkbox"]').on('change', function() {
            $('.form-check2>input[type="checkbox"]').not(this).prop('checked', false);
        });
    </script>
    <script>
        $('.navbar-nav>li>a').on('click', function () {
            $('.navbar-collapse').collapse('hide');
        });
    </script>

</body>

</html>