{% extends 'base.html' %}

{% block title %}Becas{% endblock %}

{% block content %}

<div id="normas">

    <h1>BECAS PARA ESTUDIANTES</h1>

    <p>El Ximo Congreso Internacional de Sistemas Silvopastoriles (Ximo CISSP 2019-Py) se desarrollará en Asunción del
        Paraguay entre el martes 24 y el jueves 26 de septiembre de 2019. Este congreso abordará la construcción de
        conocimientos que se inició 5 lustros en América Latina y el mundo para lograr sistemas pecuarios mas eficientes
        y
        resilientes que la convencional ganadería a “cielo abierto”, logrando incluso sistemas carbono neutro y hasta
        carbono positivos. Estos sistemas también proveen productos forestales maderables de larga vida útil, productos
        no
        maderables de alta calidad y servicios ecosistémicos. Estos conocimientos permiten posicionar a los pecuaristas
        y
        forestales que los adoptan estos sistemas en situaciones muy ventajosas frente al escenario más probable de
        mercados
        ambientalmente certificados que crecen mucho más rápido de los que muchas personas sienten.</p>
    <p>A los fines de asegurar la calidad del evento, la organización del Ximo CISSP 2019-Py está invitando en calidad
        de conferencistas a destacados profesionales con vasta trayectoria en estos sistemas de Méjico, Colombia, Cuba,
        Brasil, Argentina, Australia, Estados Unidos y Suiza. La organización también pretende compartir y debatir la
        experiencia construida con productores, académicos y jóvenes, facilitando lazos que puedan generar vinculaciones
        profesionales y de amistad perdurables.</p>
    <p>En ese sentido, a los fines de facilitar la toma de conocimientos de estos sistemas y crear oportunidades de
        crecimiento profesional y de amistad Silvopastoril a jóvenes, la organización del Ximo CISSP 2019-Py ofrece 50
        (cincuenta) Becas para la inscripción y participación de estudiantes que tengan un interés académico activo en
        estas temáticas. Para ello, se premiará a las mejores 50 (cincuenta) presentaciones de estudiantes con la
        Inscripción Gratuita al Ximo CISSP 2019-Py. Los trabajos deberán cumplir con los siguientes requisitos:</p>

    <ul style="list-style-type: square;">
        <li>Los estudiantes que presenten trabajos deberán acreditar que están inscriptos en carreras de grado o
            post-grado (maestrías y doctorados).</li>
        <li>Presentar los trabajos de acuerdo a las normas de presentación de trabajos al congreso.</li>
        <li>Enviar los trabajos a la cuenta especial de correo electrónico <span
                style="font-weight: bold; color: white; background-color: #e47401; font-size: 15px; padding: 0 10px 0 10px;">becas@silvopastoril2019.org.py</span>
            hasta el 30 de junio de 2019.</li>
        <li>Los trabajos serán evaluados y deberán ser aprobados y aceptados por el Comité Científico especial del Ximo
            CISSP 2019-Py.</li>
    </ul>

    <p>A las mejores 50 (cincuenta) presentaciones se premiará con la inscripción gratuita al evento. Al mismo tiempo,
        se pone en conocimiento que esta beca no cubre ni los costos de traslado desde sus lugares de residencia ni su
        alojamiento en Asunción. </p>

</div>

<script>
    document.body.style.backgroundImage = 'url(./static/img/fondo_desenfocado.png)';
</script>

{% endblock %}