{% extends 'base.html' %}
{% block title %}Expositores{% endblock %}
{% block content %}


<img id="logo-expositor"
    src="{{url_for('static', filename='img/Logo Congreso Silvopastoril REAJUSTADO BLANCO-01.png')}}" alt=""
    style="width: 40%; margin: 0 auto;">

<h1 style="font-size: 55px; padding-top: 30px;">Expositores</h1>

<h1 style="font-size: 45px; padding-top: 30px;">Internacionales</h1>

<div id="bloque">

    <div id="box">
        <img src="static/img/curriculum/alejandro_radrizzani.jpg" alt=""><br><br>

        <h3>Alejandro Radrizzani</h3>
        <h4>Argentina</h4>
        <p> Ingeniero Agrónomo egresado de la facultad de Agrónomia de la Universidad de Buenos Aires<br>
            Master en Agroecología y Desarrollo Rural Sostenible de la Universidad Internacional de Andalucía, España
            Doctor (PhD) en Ciencias Agrarias de la Universidad de Queensland, Australia</p>
    </div>

    <div id="box">
        <div id="box-circular">
            <img src="static/img/curriculum/bernardo_murgueitio.png" style="width: 70%;" alt="">
        </div>
        <br>
        <h3>Bernardo Murgueitio</h3>
        <h4>Colombia</h4>
        <p>Auxiliar y participante en Cursos Internacionales de Restauración
            Agroecológica de ELTI, CIPAV, SOCLA y la Reserva Natural El Hatico
            Trabaja en la finca Cien Años, donde colabora en nuevas iniciativas productivas
            orientadas a fortalecer la transformación y comercialización de los productos bajo
            principios agroecológicos.
        </p>
    </div>


    <div id="box">
        <img src="static/img/curriculum/fabiana_villa.jpg" alt=""><br><br>

        <h3>Fabiana Villa Alves</h3>
        <h4>Brasil</h4>
        <p>Investigadora Principal
            Empresa Brasilera de Pesquisa Agropecuaria
            EMBRAPA – Ganado de Carne
            Campo Grande (MS)
            <br>
            Representante oficial para Brasil en la Agenda Global de Ganadería Sostenible (GASL) y la Asociación para la
            Evaluación Ambiental de la Ganadería (LEAP).
        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/fernando_uribe.jpg" alt=""><br><br>

        <h3>Fernando Uribe T.</h3>
        <h4>Colombia</h4>
        <p>Médico veterinario Zootecnista<br> con especialidad
            en Administración de Empresas,<br> vinculado a la Fundación
            Cipav desde 1987, donde se desempeña actualmente como
            Coordinador del Área de Ganadería Sostenible.<br>
            Con 30 años de experiencia en investigación y
            desarrollo de sistemas sostenibles de producción agropecuaria.

        </p>
    </div>

    <div id="box">

        <img src="static/img/curriculum/fritz_schneider.png" alt=""><br><br>

        <h3>Fritz Schneider</h3>
        <h4>Colombia</h4>
        <p>
            Desde 2015, director de la Agenda Global de Ganadería Sostenible, una plataforma de partes interesadas del
            sector pecuario comprometida con el desarrollo sostenible del sector.
            Ha trabajado en programas de desarrollo ganadero en India, Sri Lanka, Bután, Vietnam, Kirguistán, Mongolia y
            Tanzania.
        </p>

    </div>

    <div id="box">

        <img src="static/img/curriculum/jose_volante.png" alt=""><br><br>

        <h3>Jose Volante</h3>
        <h4>Argentina</h4>
        <p>
            Licenciado en Recursos Naturales (1990, Universidad Nacional de Salta) y Doctor en Ciencias Agropecuarias
            (2014, Universidad de Buenos Aires).
            Trabaja en el Instituto Nacional de Tecnología Agropecuaria (INTA, Salta) desde 1996 y actualmente es
            Coordinador Nacional del Programa de Recursos Naturales y Gestión Ambiental.

        </p>

    </div>

    <div id="box">

        <img src="static/img/curriculum/luis_colcombet.png" alt=""><br><br>

        <h3>Luis Colcombet</h3>
        <h4>Argentina</h4>
        <p>
            Ingeniero Agrónomo graduado en la Universidad Nacional de Buenos Aires (UBA) en 1983 y Master en
            Administración de Proyectos de la Universidad para la Cooperación Internacional (UCI) de Costa Rica en 2006.
            Desde 1997, participa activamente del desarrollo de los sistemas agroforestales y silvopastoriles en el NE
            Argentino.
        </p>

    </div>

    <div id="box">

        <img src="static/img/curriculum/marcelo_navall.png" alt=""><br><br>

        <h3>Marcelo Navall</h3>
        <h4>Argentina</h4>
        <p>
            Ingeniero Forestal de la Facultad de Ciencias Forestales de la Universidad Nacional de Santiago del Estero,
            egresado en 2000.
            Ha participado de la ley de ordenamiento territorial de bosques nativos de Santiago del Estero.
            Representante titular del Instituto Nacional de Tecnología Agropecuaria (INTA) en el Comité Nacional de
            Manejo de Bosques con Ganadería Integrada y Director de la Estación Experimental Agropecuaria Santiago del
            Estero del INTA.

        </p>

    </div>

    <div id="box">
        <img src="static/img/curriculum/max_shelton.png" alt=""><br><br>

        <h3>Dr. Max Shelton</h3>
        <h4>Australia</h4>
        <p>
            Obtuvo su título de pregrado y doctorado en la Universidad de Queensland, Australia; y ha sido profesor
            asociado de la misma universidad por más de 30 años.
            Sus publicaciones incluyen 5 libros y más de 140 artículos en revistas y memorias de eventos.
            Participación como miembro fundador y asesor técnico de la Red de Leucaena de Australia.
        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/pablo_luis_peri.png" alt=""><br><br>

        <h3>Pablo Luis Peri</h3>
        <h4>Argentina</h4>
        <p>
            Ingeniero Forestal de la Facultad de Ciencias Agrarias y Forestales de la Universidad Nacional de La Plata
            (1992). Doctor of Phylosophy (PhD) in Plant Science (Agroforestry) en Lincoln University (Canterbury, Nueva
            Zelanda) en 2002.  Jefe de Grupo de Investigación Forestal de la EEA INTA Santa Cruz y hasta este año
            Coordinador del Proyecto Nacional Integrador del INTA Manejo Sustentable de Sistemas de Bosque Nativo.
            Profesor ordinario categoría Titular de la carrera de Ingeniería en Recursos Naturales Renovables de la
            Unidad Académica Río Gallegos (UARG) de la Universidad Nacional de la Patagonia Austral (UNPA).
        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/patricia_keller.png" alt=""><br><br>

        <h3>Patricia Keller</h3>
        <h4>Argentina</h4>
        <p>
            Ingeniera Agrónoma de la Universidad de Buenos Aires (UBA) y ha trabajado vinculada al sector agropecuario y
            forestal por casi 30 años. Es Máster en Gestión Agroempresarial y Ambiental de la Universidad para la
            Cooperación Internacional (UCI) de Costa Rica, donde ha realizado asesorías en cuestiones estratégicas a
            empresarios y cooperativas en el sector agropecuario y agroturístico. Es Doctora en administración con su
            tesis en la implementación de Estrategias para la Sostenibilidad.

        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/regerio_mauricio.png" alt=""><br><br>

        <h3>Rogerio M. Mauricio</h3>
        <h4>Brasil</h4>
        <p>
            Ha trabajado desde 1987, centrado en la producción, evaluación y manejo de especies forrajeras en sistemas
            silvopastoriles.
            Es profesor de la Universidad Federal de São Joao del Rei (Pregrado) y la Universidad Federal de Minas
            Gerais (Postgrado), y tiene más de 80 publicaciones científicas entre capítulos de libro, artículos
            científicos y conferencias.

        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/shibu_jose.png" alt=""><br><br>

        <h3>Shibu Jose</h3>
        <h4>Estados Unidos</h4>
        <p>
            Obtuvo su pregrado en Silvicultura de la Universidad de Agricultura de Kerala, India, y su M.Sc. y Ph.D. en
            Ciencias Forestales de la Universidad de Purdue en Estados Unidos.
            Actualmente es el Decano de Investigación en la Facultad de Agricultura, Alimentos y Recursos Naturales de
            la Universidad de Missouri. También se desempeña como Editor en Jefe de la revista Agroforestry Systems, la
            principal revista en el campo de la agroforestería, publicada por Springer-Nature, y en el comité editorial
            de varias otras revistas.

        </p>
    </div>

    <div id="box">
            <img src="static/img/curriculum/nahuel_panchas.png" alt="">
            <h3>Nahuel Panchas</h3>
            <h4>Argentina</h4>
            <p>
                Ha obtenido su título de grado en la Facultad de Agronomía de la Universidad de Buenos Aires, Máster en Ciencias y Ph.D, Escuela de Agricultura y Ciencias de la alimentación, Universidad de Queensland St. Lucia Campus, Brisbane Australia.
                Se ha desempeñado como investigador adjunto en el Instituto Nacional de Tecnología Agropecuaria INTA, Argentina por 15 años.
                Actualmente se desempeña como investigador científico senior en el Departamento de Agricultura y Pesca de Brisbane, Australia.
                    
            </p>
        </div>

        <div id="box">
                <img src="static/img/curriculum/martha_estrada.png" alt="">
                <h3>Martha X. Flores Estrada</h3>
                <h4>Mexico</h4>
                <p>
                    Ha  estado  al Frente  de la Fundación Produce Michoacán A.C instancia de la sociedad civil que en alianza estratégica con la SAGARPA, CONACYT y otras instituciones de investigación, fortalecen la investigación rural a partir de la demanda de los productores, por mas  de 20 años  siempre  buscando  alianzas  estratégicas  con los productores, e instituciones académicas, en  el desarrollo y ejecución de  proyectos  integrales  para el desarrollo  de una ganadería sostenible, en armonía con la naturaleza, basada en los Sistemas Silvopastoriles Intensivos  para  el trópico de México.
                </p>
            </div>

    <div id="box">
            <img src="static/img/curriculum/markus_grulke.png" alt="">
            <h3>Markus Grulke</h3>
            <h4>Alemania</h4>
            <p>
                    Ingeniero forestal y PhD en Silvicultura.
                    Diplomado en Ingeniería Forestal, Universidad de Friburgo, Alemania.
                    Maestría en Cooperación Internacional, Universidad Politécnica de Zúrich, Suiza. 
                    Se ha desempeñado como asistente del Instituto de Silvicultura, Universidad de Friburgo, Alemania
                    Fundador y actual director de la empresa de consultoría forestal UNIQUE, Friburgo, Alemania.
                    Actualmente director ejecutivo del fondo de inversión forestal ARBARO, Frankfort, Alemania
                    
            </p>
        </div>

        <div id="box">
                <img src="static/img/curriculum/ernesto_reyes.png" alt="">
                <h3>Ernesto Reyes</h3>
                <h4>España/Alemania</h4>
                <p>
                    Médico Veterinario, M.Sc. en Economía y Gerencia Agropecuaria de la Universidad de Reading. Durante más de 10 años participó como experto asesor en el Ministerio de Agricultura de España en el diseño, desarrollo e implementación de redes de ganadería para el análisis de la competitividad y eficiencia de los sistemas de producción de leche, carne, ovino y caprino.
                    Miembro fundador y parte del Consejo Directivo de las redes internacionales de análisis comparativo de la eficiencia ganadera agri benchmark para carne e IFCN para leche. 
                </p>
            </div>

            <div id="box">
                    <img src="static/img/curriculum/tomas_ruiz.png" alt="">
                    <h3>Dr. Tomas E. Ruiz V.</h3>
                    <h4>Cuba</h4>
                    <p>
                        Ingeniero Agrónomo de Universidad de la Habana y Doctor en Ciencias Agrícolas. Sus investigaciones se han centrado en el establecimiento, manejo y utilización de sistemas con leguminosas rastreras, arbustivas o arbóreas (principalmente con Glycine, Leucaena y Tithonia).
                        Ha sido coordinador de las investigaciones con forrajes en el Instituto de Ciencia Animal y ha dirigido  proyectos nacionales de investigación sobre forrajes. En 2008 recibió el Premio André Voisin, y en 2016 el Premio ICA al Mérito Científico.
                    </p>
                </div>
            
            
                <div id="box">
                    <img src="static/img/curriculum/pedro_francio.png" alt="">
                    <h3>Pedro Francio</h3>
                    <h4>Brasil</h4>
                    <p>
                        Ingeniero Agrónomo, especialista en alta producción forestal y sistemas integrados de alta performance con enfoques de uso múltiple. Asesoramiento en todo el proceso de producción, planificación, manejo y administración de empresas forestales y agropecuarias.
                        Ha realizado conferencias en América Latina y Europa, presentando el escenario agroforestal brasilero y oportunidades de inversión en el sector sobre sistemas integrados de producción (ILPF), mercado de la madera, sustentabilidad en agronegocios, suelos forestales, alta tecnología en producción forestal.

                    </p>
                </div>





    <h1 style="font-size: 45px; padding-top: 30px;">Nacionales</h1>

    <div id="box">
        <img src="static/img/curriculum/marcos_medina_britos.png" alt="">
        <h3>Marcos Medina Britos</h3>
        <h4>Paraguay</h4>
        <p>Doctor en Ciencias Veterinarias, egresado de la Facultad de Ciencias Veterinarias de la Universidad Nacional
            de Asunción.
            Maestría en Ciencias, Maestría en Administración Pública con énfasis en Economía Agrícola, por la
            Universidad Estatal de Kansas, EEUU (Kansas State University, USA).
            Experto Internacional para el Proyecto de la Unión Europea “Promoción de una producción pecuaria
            diversificada y sustentable en Paraguay".

        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/helmut_kathler.png" alt="">
        <h3>Helmut Kathler</h3>
        <h4>Paraguay</h4>
        <p>
            Asesor técnico de la Cooperativa Neuland, desde 1986 – 2015
            Experiencias en la producción de cultivos de renta y también fruti –hortícolas
            Experiencias en la producción de pasturas en monocultivo y sistemas silvopastoriles.
            Asesoramiento a socios de la Cooperativa en el manejo del suelo y de los cultivos.
            Participación en diferentes Congresos sobre Manejo Sostenible de Suelos en la agricultura semiárida.

        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/alfred_fast.png" alt="">
        <h3>Alfred Fast Schmidt</h3>
        <h4>Paraguay</h4>
        <p>
            Ingeniero Agrónomo, egresado de la Universidad Nacional de Asunción, 1990.
            Productor Agropecuario en la Cabaña Pfadfinder.
            Trabajó en programas de Silvicultura en San Pedro y Chaco Central, fue Coordinador de la Cooperación Vecinal
            en San Pedro (COVESAP).
            Actualmente es Directivo de la Federación de Cooperativas de la Producción, de la Cooperativa Friesland, y
            Presidente de la Mesa Paraguaya de Carne Sostenible (MPCS).

        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/marcelo_gonzalez.png" alt="">
        <h3>Marcelo A. Gonzalez F.</h3>
        <h4>Paraguay</h4>
        <p>
            Egresado de la Universidad Nacional de Asunción, Doctor en Ciencias Veterinarias, Universidad Nacional de
            Asunción (U.N.A.), Paraguay .
            Master en Animal Science de Texas A&M University (Texas, USA).
            Trainee in Dairy Program, California Polytechnic State University, (California, USA).
            Manager in Dairy Cattle, California Polytechnic State University, (California, USA).
            Estratega para la Producción Bovina, Universidad Católica de Asunción – CEPADES.
        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/antero_cabrera.png" alt="">
        <h3>Antero J. N. Cabrera</h3>
        <h4>Paraguay</h4>
        <p>
            Egresado de la Universidad Nacional de Asunción, Paraguay. Maestría en estudios de agricultura en Queensland
            University – Australia.
            Con 25 años de experiencia en investigación aplicada participativa en el Chaco Paraguayo.
            Autor de artículos científicos y materiales de divulgación de tecnología agropecuaria para el Chaco
            Paraguayo
        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/maura_diaz.png" alt="">
        <h3>Maura Isabel Diaz Lezcano</h3>
        <h4>Paraguay</h4>
        <p>
            Ingeniera Forestal egresada de la Universidad Nacional de Asunción - Paraguay en el año 2000. Doctorado en
            Ingeniería Forestal por la Universidad Politécnica de Madrid en el año 2007
            Docente Investigadora en la Carrera de Ingeniería Forestal, Facultad de Ciencias Agrarias.
            Investigadora Categorizada en el Nivel 1 dentro de Programa Nacional de Incentivo a Investigadores del
            Consejo Nacional de Ciencia y Tecnología
        </p>
    </div>


    <div id="box">
        <img src="static/img/curriculum/norbert.png" alt="">
        <h3>Norbert Weichselberger</h3>
        <h4>Paraguay</h4>
        <p>
            Ingeniero Forestal, egresado de la Facultad de Ciencias Agrarias de la Universidad Nacional de Asunción,
            Parguay.
            Brinda asistencia técnica en el área forestal a productores de la Cooperativa Volendam, departamento San
            Pedro, desde el año 2001 a la actualidad.
            Actualmente, desde el 2017, es Coordinador del proyecto de cooperación bilateral entre la GIZ y la
            Cooperativa Volendam.

        </p>
    </div>


    <div id="box">
        <img src="static/img/curriculum/rosalia_goerzen.png" alt="">
        <h3>Rosalia Goerzen</h3>
        <h4>Paraguay</h4>
        <p>
            Ingeniera Agrónoma, egresada de la Universidad Nacional de Asunción, de la Facultad de Ciencias Agrarias,
            con especialización de grado en orientación agrícola y ganadera, con Maestría en Planificación y Proyectos,
            y una Especialización posgrado en Evaluación de Impacto Ambiental y otra Especialización posgrado en
            Producción de Semillas Vegetales.
        </p>
    </div>

    <div id="box">
        <img src="static/img/curriculum/raul_gauto.png" alt="">
        <h3>Raul Gauto</h3>
        <h4>Paraguay</h4>
        <p>
            Ingeniero Agrónomo a cargo de sistema de reforestación con Pinos 1980-1982.
            Maestría en Economía Forestal en Virginia Tech, USA 1983-1985
            Presidente de Forestal Sylvis 2010-2019. Responsable de la reforestación de 1.100 hectáreas en la Cuenca
            Alta del Parque Nacional Ybycuí con especies exóticas y nativas.
        </p>
    </div>


    <div id="box">
        <img src="static/img/curriculum/raul_ortiz.png" alt="">
        <h3>Raul Ortiz Dominguez</h3>
        <h4>Paraguay</h4>
        <p>
            Ingeniero Forestal por la Universidad Nacional de Asunción y con una maestría en Silvicultura por la
            Universidad Federal de Paraná, Brasil.
            Director de Forestal Azul S.A. propiedad administrada por Unique Wood Paraguay S.A. desde el año 2018, y hoy
            gerenciando Forestal Apepú S.A., inversión extranjera en el sector forestal de Paraguay.
        </p>
    </div>

    
    

</div>

<script>
    document.body.style.backgroundImage = 'url(./static/img/fondo.png)';
</script>

{% endblock %}