{% extends 'base.html' %}
{% block title %}Expositores{% endblock %}
{% block content %}


<img id="logo-expositor" src="{{url_for('static', filename='img/Logo Congreso Silvopastoril REAJUSTADO BLANCO-01.png')}}" alt=""
    style="width: 40%; margin: 0 auto;">

<h1>Expositores</h1>


<div id="bloque">
    <div id="caja">
        <img src="static/img/curriculum/alejandro_radrizzani.jpg" alt=""><br><br>
    
        <h3>Alejandro Radrizzani</h3>
        <h4>Argentina</h4>
        <p> Ingeniero Agrónomo egresado de la facultad de Agrónomia de la Universidad de Buenos Aires<br>
            Master en Agroecología y Desarrollo Rural Sostenible de la Universidad Internacional de Andalucía, España
            Doctor (PhD) en Ciencias Agrarias de la Universidad de Queensland, Australia</p>
    </div>
    
    <div id="caja1">
        <div id="caja-circular">
            <img src="static/img/curriculum/bernardo_murgueitio.png" alt="">
        </div>
        <br>
        <h3>Bernardo Murgueitio</h3>
        <h4>Colombia</h4>
        <p>Auxiliar y participante en Cursos Internacionales de Restauración
            Agroecológica de ELTI, CIPAV, SOCLA y la Reserva Natural El Hatico <br>
            Trabaja en la finca Cien Años, donde colabora en nuevas iniciativas productivas
            orientadas a fortalecer la transformación y comercialización de los productos bajo
            principios agroecológicos.
            </p>
    </div>
    
    
    <div id="caja2">
        <img src="static/img/curriculum/fabiana_villa.jpg" alt=""><br><br>
    
        <h3>Fabiana Villa Alves</h3>
        <h4>Brasil</h4>
        <p>Investigadora Principal
                Empresa Brasilera de Pesquisa Agropecuaria
                EMBRAPA – Ganado de Carne
                Campo Grande (MS)
                <br>
                Representante oficial para Brasil en la Agenda Global de Ganadería Sostenible (GASL) y la Asociación para la Evaluación Ambiental de la Ganadería (LEAP). 
                </p>
    </div>

    <div id="caja3">
            <img src="static/img/curriculum/fernando_uribe.jpg" alt=""><br><br>
        
            <h3>Fernando Uribe T.</h3>
            <h4>Colombia</h4>
            <p></p>
        </div>

</div>


{% endblock %}