{% extends 'base.html' %}
{% block title %}Expositores{% endblock %}
{% block content %}


<img id="logo-expositor" src="{{url_for('static', filename='img/Logo Congreso Silvopastoril REAJUSTADO BLANCO-01.png')}}" alt=""
    style="width: 40%; margin: 0 auto;">

<h1 style="font-size: 55px; padding-top: 30px;">Expositores</h1>


<div id="bloque">
    
    <div id="box">
        <img src="static/img/curriculum/alejandro_radrizzani.jpg" alt=""><br><br>
    
        <h3>Alejandro Radrizzani</h3>
        <h4>Argentina</h4>
        <p> Ingeniero Agrónomo egresado de la facultad de Agrónomia de la Universidad de Buenos Aires<br>
            Master en Agroecología y Desarrollo Rural Sostenible de la Universidad Internacional de Andalucía, España
            Doctor (PhD) en Ciencias Agrarias de la Universidad de Queensland, Australia</p>
    </div>
    
    <div id="box">
        <div id="box-circular">
            <img src="static/img/curriculum/bernardo_murgueitio.png" style="width: 70%;" alt="">
        </div>
        <br>
        <h3>Bernardo Murgueitio</h3>
        <h4>Colombia</h4>
        <p>Auxiliar y participante en Cursos Internacionales de Restauración
            Agroecológica de ELTI, CIPAV, SOCLA y la Reserva Natural El Hatico
            Trabaja en la finca Cien Años, donde colabora en nuevas iniciativas productivas
            orientadas a fortalecer la transformación y comercialización de los productos bajo
            principios agroecológicos.
            </p>
    </div>
    
    
    <div id="box">
        <img src="static/img/curriculum/fabiana_villa.jpg" alt=""><br><br>
    
        <h3>Fabiana Villa Alves</h3>
        <h4>Brasil</h4>
        <p>Investigadora Principal
                Empresa Brasilera de Pesquisa Agropecuaria
                EMBRAPA – Ganado de Carne
                Campo Grande (MS)
                <br>
                Representante oficial para Brasil en la Agenda Global de Ganadería Sostenible (GASL) y la Asociación para la Evaluación Ambiental de la Ganadería (LEAP). 
                </p>
    </div>

    <div id="box">
            <img src="static/img/curriculum/fernando_uribe.jpg" alt=""><br><br>
        
            <h3>Fernando Uribe T.</h3>
            <h4>Colombia</h4>
            <p>Médico veterinario Zootecnista<br> con especialidad
            en Administración de Empresas,<br> vinculado a la Fundación 
            Cipav desde 1987, donde se desempeña actualmente como 
            Coordinador del Área de Ganadería Sostenible.<br>
            Con 30 años de experiencia en investigación y 
            desarrollo de sistemas sostenibles de producción agropecuaria.

            </p>
        </div>

    <div id="box">

            <img src="static/img/curriculum/fritz_schneider.png" alt=""><br><br>

            <h3>Fritz Schneider</h3>
            <h4>Colombia</h4>
            <p>
                Desde 2015, director de la Agenda Global de Ganadería Sostenible, una plataforma de partes interesadas del sector pecuario comprometida con el desarrollo sostenible del sector.
                Ha trabajado en programas de desarrollo ganadero en India, Sri Lanka, Bután, Vietnam, Kirguistán, Mongolia y Tanzania.
            </p>

    </div>

    <div id="box">

            <img src="static/img/curriculum/jose_volante.png" alt=""><br><br>

            <h3>Jose Volante</h3>
            <h4>Argentina</h4>
            <p>
                Licenciado en Recursos Naturales (1990, Universidad Nacional de Salta) y Doctor en Ciencias Agropecuarias (2014, Universidad de Buenos Aires).
                Trabaja en el Instituto Nacional de Tecnología Agropecuaria (INTA, Salta) desde 1996  y actualmente es Coordinador Nacional del Programa de Recursos Naturales y Gestión Ambiental.

            </p>

    </div>

    <div id="box">

            <img src="static/img/curriculum/luis_colcombet.png" alt=""><br><br>

            <h3>Luis Colcombet</h3>
            <h4>Argentina</h4>
            <p>
                Ingeniero Agrónomo graduado en la Universidad Nacional de Buenos Aires (UBA) en 1983 y Master en Administración de Proyectos de la Universidad para la Cooperación Internacional (UCI) de Costa Rica en 2006.
                Desde 1997, participa activamente del desarrollo de los sistemas agroforestales y silvopastoriles en el NE Argentino.
            </p>

    </div>

    <div id="box">

            <img src="static/img/curriculum/marcelo_navall.png" alt=""><br><br>

            <h3>Marcelo Navall</h3>
            <h4>Argentina</h4>
            <p>
                Ingeniero Forestal de la Facultad de Ciencias Forestales de la Universidad Nacional de Santiago del Estero, egresado en 2000.
                Ha participado de la ley de ordenamiento territorial de bosques nativos de Santiago del Estero. 
                Representante titular del Instituto Nacional de Tecnología Agropecuaria (INTA) en el Comité Nacional de Manejo de Bosques con Ganadería Integrada y Director de la Estación Experimental Agropecuaria Santiago del Estero del INTA. 

            </p>

    </div>

    <div id="box">
        <img src="static/img/curriculum/max_shelton.png" alt=""><br><br>
        
        <h3>Dr. Max Shelton</h3>
        <h4>Australia</h4>
        <p>
            Obtuvo su título de pregrado y doctorado en la Universidad de Queensland, Australia; y ha sido profesor asociado de la misma universidad por más de 30 años.
            Sus publicaciones incluyen 5 libros y más de 140 artículos en revistas y memorias de eventos.
            Participación como miembro fundador y asesor técnico de la Red de Leucaena de Australia.
        </p>
    </div>

    <div id="box">
            <img src="static/img/curriculum/pablo_luis_peri.png" alt=""><br><br>
            
            <h3>Pablo Luis Peri</h3>
            <h4>Argentina</h4>
            <p>
                Ingeniero Forestal de la Facultad de Ciencias Agrarias y Forestales de la Universidad Nacional de La Plata (1992). Doctor of Phylosophy (PhD) in Plant Science (Agroforestry) en Lincoln University (Canterbury, Nueva Zelanda) en 2002.  Jefe de Grupo de Investigación Forestal de la EEA INTA Santa Cruz y hasta este año Coordinador del Proyecto Nacional Integrador del INTA Manejo Sustentable de Sistemas de Bosque Nativo. Profesor ordinario categoría Titular de la carrera de Ingeniería en Recursos Naturales Renovables de la Unidad Académica Río Gallegos (UARG) de la Universidad Nacional de la Patagonia Austral (UNPA).
            </p>
        </div>
        
        <div id="box">
                <img src="static/img/curriculum/patricia_keller.png" alt=""><br><br>
                
                <h3>Patricia Keller</h3>
                <h4>Argentina</h4>
                <p>
                    Ingeniera Agrónoma de la Universidad de Buenos Aires (UBA) y ha trabajado vinculada al sector agropecuario y forestal por casi 30 años. Es Máster en Gestión Agroempresarial y Ambiental de la Universidad para la Cooperación Internacional (UCI) de Costa Rica, donde ha realizado asesorías en cuestiones estratégicas a empresarios y cooperativas en el sector agropecuario y agroturístico. Es Doctora en administración con su tesis en la implementación de Estrategias para la Sostenibilidad.

                </p>
            </div>

            <div id="box">
                    <img src="static/img/curriculum/regerio_mauricio.png" alt=""><br><br>
                    
                    <h3>Rogerio M. Mauricio</h3>
                    <h4>Brasil</h4>
                    <p>
                        Ha trabajado desde 1987, centrado en la producción, evaluación y manejo de especies forrajeras en sistemas silvopastoriles.
                        Es profesor de la Universidad Federal de São Joao del Rei (Pregrado) y la Universidad Federal de Minas Gerais (Postgrado), y tiene más de 80 publicaciones científicas entre capítulos de libro, artículos científicos y conferencias.

                    </p>
                </div>

                <div id="box">
                        <img src="static/img/curriculum/shibu_jose.png" alt=""><br><br>
                        
                        <h3>Shibu Jose</h3>
                        <h4>Estados Unidos</h4>
                        <p>
                            Obtuvo su pregrado en Silvicultura de la Universidad de Agricultura de Kerala, India, y su M.Sc. y Ph.D. en Ciencias Forestales de la Universidad de Purdue en Estados Unidos.
                            Actualmente es el Decano de Investigación en la Facultad de Agricultura, Alimentos y Recursos Naturales de la Universidad de Missouri. También se desempeña como Editor en Jefe de la revista Agroforestry Systems, la principal revista en el campo de la agroforestería, publicada por Springer-Nature, y en el comité editorial de varias otras revistas.

                        </p>
                    </div>
    


</div>

<script>
    document.body.style.backgroundImage = 'url(./static/img/fondo.png)';
</script>

{% endblock %}