<footer>
    <div class="container-fluid text-light">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 py-3">
                <a href="/" style="background-color: transparent;">
                    <img class="img-fluid"
                        src="{{url_for('static', filename='img/Logo Congreso Silvopastoril BLANCO - Horizontal-04.png')}}"
                        alt="">
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 py-3">
                <h2>ENLACES</h2>
                <ul>
                    <li>
                        <a href="#evento">EL EVENTO</a>
                    </li>
                    <li>
                        <a href="#parte">¿POR QUÉ SER PARTE?</a>
                    </li>
                    <li>
                        <a href="#realizar">¿DÓNDE SE REALIZARÁ?</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 py-3">
                <h2>REDES SOCIALES</h2>
                <ul>
                    <li>
                        <img class="logo-icon" src="{{url_for('static', filename='img/logo_facebook.png')}}" alt="">
                        <a href="https://www.facebook.com/XCongresoInternacionaldeSistemasSilvopastorilPY/"
                            target="_blank"> X Congreso Internacional de Sistemas Silvopastoril PY</a>
                    </li>
                    <li>
                        <img class="logo-icon" src="{{url_for('static', filename='img/logo_youtube.png')}}" alt="">
                        <a href="https://www.youtube.com/channel/UCt7VGRUgKhqccdkO3PkTaPg" target="_blank"> Congreso
                            Silvopastoril 2019</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 py-3">
                <h2>CONTACTOS</h2>
                <ul>
                    <li>
                        Telefono: (021) 570 515/9
                    </li>
                    <li>
                        <a href="mailto:info@silvopastoril2019.org.py">Correo: info@silvopastoril2019.org.py</a>
                    </li>
                    <li>
                        Direccion: Ruta Mcal. Estigarribia km 10.5
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row p-0">
            <div class="col-12 text-center p-0">
                <p style="font-size: 18px"><strong>&copy; 2019 Copyright</strong>
                    <p>
            </div>
        </div>
    </div>
</footer>