<footer>
    <div class="container-fluid text-light">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 py-3">
                <img class="img-fluid"
                    src="{{url_for('static', filename='img/Logo Congreso Silvopastoril BLANCO - Horizontal-04.png')}}"
                    alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-3 py-3">
                <h2>LINKS</h2>
                <ul>
                    <li>
                        <a href="#evento">THE EVENT</a>
                    </li>
                    <li>
                        <a href="#parte">WHY BE PART OF IT?</a>
                    </li>
                    <li>
                        <a href="#realizar">WHERE WILL IT TAKE PLACE?</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 py-3">
                <h2>SOCIAL NETWORKS</h2>
                <ul>
                    <li>
                        <img class="logo-icon" src="{{url_for('static', filename='img/logo_facebook.png')}}" alt="">
                        <a href="https://www.facebook.com/XCongresoInternacionaldeSistemasSilvopastorilPY/"
                            target="_blank"> X Congreso Internacional de Sistemas Silvopastoril PY</a>
                    </li>
                    <li>
                        <img class="logo-icon" src="{{url_for('static', filename='img/logo_youtube.png')}}" alt="">
                        <a href="https://www.youtube.com/channel/UCt7VGRUgKhqccdkO3PkTaPg" target="_blank"> Congreso
                            Silvopastoril 2019</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 py-3">
                <h2>CONTACTS</h2>
                <ul>
                    <li>
                        Phone: (021) 570 515/9
                    </li>
                    <li>
                        <a href="mailto:info@silvopastoril2019.org.py">Correo: info@silvopastoril2019.org.py</a>
                    </li>
                    <li>
                        Address: Ruta Mcal. Estigarribia km 10.5
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row p-0">
            <div class="col-12 text-center p-0">
                <p><strong>&copy; 2019 Copyright</strong>
                    <p>
            </div>
        </div>
    </div>
</footer>