<form>

    <div class="form-group">
        <label for="exampleFormControlInput1">Nombre Completo*</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
            <label for="exampleFormControlInput1">Tipo de Documento de Identificacion*</label>
            <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
            <label for="exampleFormControlInput1">Número de Documento de Identificación*</label>
            <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>

</form>