{% extends 'base.html' %}
{% block title %}Formulario de Registro{% endblock %}
{% block content %}


<div class="cont-form">

    <div class="content-form-2">

        <h1>Formulario de Registro</h1>

        <form action="/visita-registro" method="POST" class="needs-validation" novalidate>

            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre Completo*</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tipo de Documento de Identificación*</label>
                <select class="form-control" id="exampleFormControlSelect1" name="tipo_documento" required>
                    <option value="CI" selected="selected">Cédula de Identificación</option>
                    <option value="pasaporte">Pasaporte</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Número de Documento de Identificación*</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="numero_documento" placeholder="Ingrese solo caracteres númericos" required>
                <span style="color: white; font-size: 12px;">*En caso de que posea pasaporte favor ingresar solo los caracteres númericos</span>    
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email*</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese email"
                    name="email" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">País de Residencia*</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="pais" required>
            </div>
            
            <br>
            
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enviar</button>
            <button type="reset" class="btn btn-primary" style="margin-top: 10px;">Limpiar</button>

        </form>

        <!-- modal - mensajes al usuario -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 style="padding: 2%;" class="modal-title" id="exampleModalLongTitle">Información</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        {% for message in messages %}
                        <div>{{message}}</div>
                        {% endfor %}

                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endwith %}

    </div>
</div>

<script>

    function HiddenCheck() {

        var x = document.getElementsByName("tipo_participacion");
        if (x[0].options.selectedIndex === 0) {
            document.getElementsByClassName("form-check1")[0].hidden = true;
            document.getElementsByClassName("form-check2")[0].hidden = true;
        }
        else {
            document.getElementsByClassName("form-check1")[0].hidden = false;
            document.getElementsByClassName("form-check2")[0].hidden = false;
        }

    }

    /*function HiddenCheck1(){
        var selection = document.getElementsByName("identificador_tributario");
        if (selection[0].options.selectedIndex === 7){ 
            document.getElementsByName("otro")[0].hidden = false;
            } 
        else { 
            document.getElementsByName("otro")[0].hidden = true; 
        }
    }*/

    document.body.style.backgroundImage = 'url(./static/img/fondo.png)';
</script>



{% endblock %}