{% extends 'base.html' %}

{% block title %}Normas{% endblock %}

{% block content %}

<div id="container">

    <div id="normas">

        <h1>NORMAS PARA LA PRESENTACIÓN DE TRABAJOS</h1>

        <p>(Los trabajos aprobados serán publicados en formato de libro en archivo PDF que contará con su
            correspondiente ISBN).</p>

        <p><span style="text-decoration: line-through;">Fecha límite de presentación de trabajos: 21/04/2019</span></p>

        <p>Prórroga para presentación de trabajos: <span style="font-weight: bold; color: white; background-color: #e47401; font-size: 15px; padding: 0 10px 0 10px;">21/07/19</span></p>

        <p>Los trabajos deberán enviarse a la cuenta de correo: <span style="font-weight: bold; color: white; background-color: #e47401; font-size: 15px; padding: 0 10px 0 10px;">xcongreso@silvopastoril2019.org.py</span></p>
                
        <p style="font-size: 25px;"><b>GENERALIDADES</b></p>

        <p style="font-weight: bold; font-size: 20px;">Aspectos Generales</p>

        <p>Todos los trabajos seguirán para su organización la estructura de trabajos científicos. La extensión máxima
            de los trabajos completos será de seis (6) páginas, incluyendo gráficos, tablas e imágenes. Se aceptarán
            resúmenes expandidos de una extensión máxima de dos (2) páginas. Se solicita que los autores indiquen su
            preferencia por una presentación de poster o presentación de ponencia oral (si el artículo fuera
            seleccionado para ello).</p>

        <p>El idioma del trabajo puede ser en español, inglés o portugués. El documento debe indicar el número de líneas
            y páginas. Las páginas deben estar configuradas en tamaño carta, con margen izquierdo de 3 cm. y 2,5 cm. en
            el resto de los márgenes. El texto estará justificado a ambas márgenes. Se sugiere utilizar como fuente de
            letra Times New Roman, normal, tamaño de letra 12, con interlineado simple. No dar formato a los párrafos.
            En referencia a la redacción, se sugiere que las oraciones sean cortas, que los párrafos contengan un mínimo
            de dos oraciones y no excedan las 10 – 12 líneas de extensión.</p>

        <p style="font-weight: bold; font-size: 20px;">Estructura de los trabajos presentados</p>

        <p style="text-decoration: underline;">Todos los trabajos (modalidad Poster y ponencia Oral) deberán contar con:</p>

        <ul>
            <li>Título</li>
            <li>Autores</li>
            <li>Resumen</li>
            <li>Palabras Clave</li>
            <li>Abstract</li>
            <li>Key words</li>
            <li>Introducción</li>
            <li>Materiales y Métodos</li>
            <li>Resultados y Discusión</li>
            <li>Conclusiones</li>
            <li>Agradecimientos(Opcional)</li>
            <li>Bibliografía</li>
        </ul>

        <p style="font-size: 25px;"><b>ORGANIZACIÓN DE LOS TRABAJOS COMPLETOS</b></p>

        <p><b style="text-decoration: underline;">Título:</b> En negrita, usando mayúscula únicamente en la primera letra de la primera palabra; máximo tres
            renglones. El título debe ir en español (o portugués) e inglés. Los sustantivos propios que se incluyan
            también deberán presentar este mismo criterio.</p>

        <p><b style="text-decoration: underline;">Autores:</b> Listados después de los títulos, en letras itálicas, iniciales del nombre principal y
            Apellidos completos, separando autores con “;”. Seguidamente en letra Times New Roman normal, se agregará
            lugar de trabajo, dirección postal del autor principal o de aquella en la cual se recibirá la
            correspondencia.</p>

        <p><b style="text-decoration: underline;">Resumen en español (o portugués) y en inglés (Abstract):</b> No debe superar las 250 palabras y debe
            contener en un solo párrafo Objetivos, Materiales y Métodos, Resultados y Conclusiones.</p>

        <p><b style="text-decoration: underline;">Palabras clave en español (o portugués) y en inglés (Keywords):</b> cursiva (sin negrita). Cinco (5)
            palabras como máximo, no usadas en el título.</p>

        <p>Se hará todo lo posible para que los títulos, autores, resúmenes y palabras clave puedan ser incluidos en la
            primera página del trabajo.</p>

        <p><b style="text-decoration: underline;">I. Introducción:</b> Presentará el problema, el propósito de la investigación o del proyecto y los
            antecedentes de referencia.</p>

        <p><b style="text-decoration: underline;">II. Materiales y Métodos:</b> Breve descripción de los materiales, métodos, técnicas, diseño experimental
            y
            metodología estadística utilizada.</p>

        <p><b style="text-decoration: underline;">III. Resultados y discusión:</b> Pueden ir juntos o separados. Se resumirán los resultados alcanzados
            (preliminares o esperados en caso de proyectos). Los mismos serán discutidos en relación al interrogante
            presentado en la introducción.</p>

        <p><b style="text-decoration: underline;">IV. Conclusiones:</b> Sintetizará los puntos relevantes del trabajo y sus implicaciones.</p>

        <p><b style="text-decoration: underline;">V. Agradecimientos (opcional):</b> Arial 9 regular (sin negritas).</p>

        <p><b style="text-decoration: underline;">VI. Bibliografía:</b> Arial 9 regular (sin negritas). La lista de la bibliografía se ordenará
            alfabéticamente
            y deberá referenciar las citas usadas en el texto; en éste las citas indicarán autor y año del trabajo,
            siguiendo orden cronológico, Ej: (Porter et al., 1950; Jones, 1990). A continuación, se presentan ejemplos
            de citaciones bibliográficas correctas:</p>

        <p style="text-decoration: underline;">En libros</p>

        <p>Landsberg, J.J., Gower S.T., 1997. Applications of Physiological Ecology to Forest Management, Academic
            Press, California, pp. 354.</p>

        <p style="text-decoration: underline;">Capítulos de libros</p>

        <p>Jeffrey, D.W., 1988. Mineral nutrients and the soil environment. En: Jones, M.B., Lazenby, A., (Eds.), The
            Grass Crop, Chapman and Hall, London, pp. 179-201.</p>

        <p style="text-decoration: underline;">En revistas científicas</p>

        <p>Lusk, C.H., Contreras, O., Figueroa, J., 1997. Growth, biomass allocation and plant nitrogen concentration in
            Chilean temperate rainforest tree seedling: effects of nutrient availability. Ecology 109, 49-58.</p>

        <p style="text-decoration: underline;">Actas de jornadas y congreso</p>

        <p>Caldentey, J., Schmidt, H., Bowen, H., 1993. Acumulación de biomasa y nutrientes en rodales de Lenga
            (Nothofagus pumilio) en Magallanes, Chile. Actas VII Jornadas Técnicas Forestales: Ecosistemas forestales
            nativos: uso, manejo y conservación. El Dorado, Argentina, pp. 22-36.</p>

        <p><b style="text-decoration: underline;">Formato de tablas y gráficos:</b> En escala de grises. Fuente: Arial 9 regular, para todo texto que
            incluyan. Se sugiere considerar la extensión de tablas y gráficos a fin de no superar las seis páginas de
            extensión máxima del trabajo. La leyenda de las Tablas deberá colocarse en la parte superior y la leyenda de
            los gráficos en la parte inferior. Los gráficos deberán presentarse en archivo separado en formato JPG con
            resolución de 300 dpi para su mejor impresión.</p>

        <p><b style="text-decoration: underline;">Formato de imágenes:</b> Formato JPG, con resolución de 300 dpi. Las fotos e imágenes deben ser
            presentadas en páginas separadas.</p>

        <p style="font-size: 25px;"><b>ORGANIZACIÓN DE LOS RESUMENES EXPANDIDOS</b></p>

        <p><b style="text-decoration: underline;">Título:</b> Al igual que los trabajos completos, en negrita, usando mayúscula únicamente en la primera
            letra de
            la primera palabra; máximo tres renglones. El título debe ir en español o portugués e inglés. Los
            sustantivos propios que se incluyan también deberán presentar este mismo criterio.</p>

        <p><b> style="text-decoration: underline;"Autores listados después del título:</b> Al igual que los trabajos completos, listados después de los
            títulos, en
            letras itálicas, iniciales del nombre principal y Apellidos completos, separando autores con “;”.
            Seguidamente en letra Times New Roman normal, se agregará lugar de trabajo, dirección postal del autor
            principal o de aquella en la cual se recibirá la correspondencia.</p>

        <p><b style="text-decoration: underline;">Resumen en español o portugués y en inglés (Abstract):</b> El resumen no deberá superar las 500 palabras y
            debe
            contener en un solo párrafo Objetivos, Materiales y Métodos, Resultados y Conclusiones.</p>

        <p><b style="text-decoration: underline;">Palabras clave en español o portugués y en inglés (Keywords):</b> cursiva (sin negrita). Cinco (5)
            palabras como
            máximo, no usadas en el título.</p>

        <p>La extensión máxima de los resúmenes expandidos será de 2 (dos) páginas.</p>

        <p style="font-size: 25px;"><b>ENVÍO DE LOS TRABAJOS</b></p>

        <p><b>Los trabajos deberán enviarse a la cuenta de correo: <span
                    style="font-weight: bold; color: white; background-color: #e47401; font-size: 15px; padding: 0 10px 0 10px;">xcongreso@silvopastoril2019.org.py</span></b>
        </p>

        <p><b>Formato de los archivos:</b> Los archivos de texto deberán enviarse en formato *.docx y *.rtf, para que
            mantengan características de
            escritura, como negritas, superíndices, etc., con las figuras y tablas insertas en el mismo.</p>

        <p><b>Identificación y nombre de los archivos:</b> Cada archivo deberá identificarse de la siguiente forma:</p>

        <p>Letra de la temática del trabajo, según corresponda con la opción del siguiente listado, seguida por Guion,
            Apellido y Primer nombre (sin espacio) del autor principal. <b>Ej: G-PerezPablo.docx</b></p>

        <ul>
            <li>(G) – Ganadería sostenible, biodiversidad, ambiente y cambio climático</li>
            <li>(P) – Producción simultánea de bienes pecuarios y forestales.</li>
            <li>(S) – Socio economía en sistemas silvopastoriles.</li>
            <li>(E) – Escenarios productivos en sistemas silvopastoriles (testimonios de productores).</li>
        </ul>

        <p><b>Para la inclusión de los trabajos en las memorias es necesario que al menos uno de los autores esté
                debidamente inscrito en el Congreso.</b></p>

        <p style="font-size: 25px;"><b>MODALIDAD DE EVALUACIÓN</b></p>

        <p>Los trabajos serán evaluados en forma anónima, es decir sin autores, direcciones y citas del texto que
            indiquen procedencia del trabajo.</p>

        <p>Todos los trabajos aprobados se expondrán en forma oral o en poster. Esta información será comunicada a los
            autores. Una vez evaluados, los trabajos se deben presentar de acuerdo a las pautas para presentar que se
            detalla a continuación:</p>

        <p style="font-size: 25px;"><b>1. PAUTAS PARA PRESENTACIÓN ORAL</b></p>

        <p>Las presentaciones orales deben estar compuestas por los siguientes ítems:</p>

        <ul>
            <li>Título</li>
            <li>Autores</li>
            <li>Introducción o Antecedentes</li>
            <li>Materiales y Métodos</li>
            <li>Resultados y Discusión</li>
            <li>Conclusiones</li>
            <li>Agradecimientos (opcional)</li>
        </ul>


        <p style="font-size: 25px;"><b>2. PAUTAS PARA PRESENTACIÓN DE POSTERS</b></p>

        <p>Los posters de los trabajos que se aprueben para presentación en esta modalidad, deberán elaborarse de
            acuerdo a las siguientes directrices.</p>

        <p style="font-size: 25px;"><b>Incluya solamente:</b></p>

        <ul>
            <li>Título (preferiblemente inferior a 100 caracteres, excluyendo los espacios).</li>
            <li>Autores (con la dirección institucional y electrónica).</li>
            <li>Introducción (con caracterización del problema y que culmina con los objetivos).</li>
            <li>Materiales y Métodos.</li>
            <li>Resultados.</li>
            <li>Conclusiones (si las hubiera).</li>

        </ul>

        <p>Construya oraciones (de no más de 15 o 20 palabras), y párrafos sencillos, respetando las reglas gramaticales
            y ortográficas del idioma, al igual que los símbolos internacionales y abreviaturas.</p>

        <p>Prefiera cuadros, figuras y fotografías en lugar de textos largos.</p>

        <p>Use negritas para dar énfasis, cursivas para palabras en otro idioma (latín, inglés, etc.) y comillas para
            vulgarismos.</p>

        <p>Coloque leyendas simples en cuadros (parte superior) y figuras o fotos (parte inferior).</p>

        <p>Utilice formato vertical (porta retrato). Tamaño 110 cm de alto por 70 cm de ancho (debe ser respetado
            estrictamente), en lo posible con un margen de 2 cm.</p>

        <p>La configuración gráfica es conveniente que sea sobre la base de dos o tres columnas.</p>

        <p>Utilice tipografía sencilla no menor de 72 puntos para título, 48 puntos para sub títulos y 30 puntos para
            texto.</p>

        <p>Asegúrese que el póster pueda ser leído en tres o cuatro minutos como máximo a una distancia de 0,9 – 1,50 m.
        </p>

        <p>Evite que las texturas o figuras de fondo compitan visualmente con los textos y demás elementos gráficos.</p>

        <p style="font-size: 25px;">Descargue la version PDF de las Normas de Presentacion</p>

        <a style="text-decoration: none; padding-left: 100px; font-size: 20px; color: #28a745;"
            href="{{url_for('static', filename='files/X CISSP 2019-Py_Normas_Presentacion_Trabajos.pdf')}}"
            download>Normas de Presentacion</a>

        <ul>
            <li><a href="/" class="buttonContact">ATRÁS</a></li>
        </ul>


    </div>

    <script>
        document.body.style.backgroundImage = 'url(./static/img/fondo_desenfocado.png)';
    </script>

    {% endblock %}