{% extends 'base.html' %}

{% block title %}Normas{% endblock %}

{% block content %}

    <div id="container">

        <div id="normas">

            <h1>NORMAS PARA LA PRESENTACIÓN DE TRABAJOS</h1>

            <p>Los trabajos aprobados serán publicados en formato de libro en archivo PDF que contará con su correspondiente ISBN</p>

            <p><span style="font-weight: bold; color: red; background-color: yellow; font-size: 20px;">Fecha límite de presentación de trabajos: 21/04/2019</span></p>

            <p>los mismos seguirán para su organización la estructura de trabajos científicos. <b>La extensión máxima será de seis (6) páginas</b>, incluyendo gráficos, tablas e imágenes.</p>

            <p style="font-weight: bold;">Presentación de los resúmenes (en extenso):</p>

            <p>Todos los trabajos (modalidad Poster y ponencia Oral) deberán contar con:</p>

            <ul>
                <li>Título</li>
                <li>Autores</li>
                <li>Resumen</li>
                <li>Abstract</li>
                <li>Introducción</li>
                <li>Materiales y Métodos</li>
                <li>Resultados y Discusión</li>
                <li>Conclusiones</li>
                <li>Bibliografía</li>
            </ul>

            <p> De esta forma, aparecerán en las memorias del Congreso.</p>

            <p>El idioma del trabajo puede ser español, inglés o portugués. El documento debe indicar el número de líneas y páginas. Las páginas deben estar configuradas en tamaño A4, con margen izquierdo de 3 cm. y 2,5 cm. en el resto de los márgenes. Texto justificado. Se sugiere utilizar como fuente de letra Times New Roman, tamaño de letra 12, con interlineado simple. No dar formato a los párrafos.</p>

            <p>El cuerpo del trabajo completo debe presentar:</p>
            
            <p><b>El tipo de presentación:</b> Indicar si la preferencia es presentación de poster o presentación ponencia oral.</p>

            <p><b>Título:</b> En negrita, usando mayúscula únicamente en la primera letra de la primera palabra; máximo tres renglones. El título debe ir en español (o portugués) e inglés. Los sustantivos propios que se incluyan también deberán presentar este mismo criterio.</p>
            
            <p><b>Autores listados después del título:</b> Iniciales del nombre y Apellidos completos, entre autores separados con ; y en itálica. Seguido de lugar de trabajo, dirección postal y dirección electrónica del autor principal, o donde se recibirá la correspondencia; esta información no debe estar en itálica.</p>
            
            <p><b>Resumen en español (o portugués) y en inglés (Abstract):</b> No debe superar las 300 palabras y debe contener en un solo párrafo Objetivos, Materiales y Métodos, Resultados y Conclusiones.</p>
            
            <p><b>Palabras clave en español (o portugués) y en inglés (Keywords):</b> cursiva (sin negrita). Cinco (5) palabras como máximo, no usadas en el título.</p>
            
            <p><b>Introducción:</b> Presentará el problema, el propósito de la investigación o del proyecto y los antecedentes de referencia.</p>
            
            <p><b>Materiales y Métodos:</b> Breve descripción de los materiales, métodos, técnicas, diseño experimental y metodología estadística utilizada.</p>
            
            <p><b>Resultados y discusión:</b> Pueden ir juntos o separados. Se resumirán los resultados alcanzados (preliminares o esperados en caso de proyectos). Los mismos serán discutidos en relación al interrogante presentado en la introducción.</p>

            <p><b>Conclusiones:</b> Sintetizará los puntos relevantes del trabajo y sus implicaciones.</p>

            <p><b>Agradecimientos (opcional):</b> Arial 9 regular (sin negritas).</p>

            <p><b>Bibliografía:</b> Arial 9 regular (sin negritas). La lista de la bibliografía se ordenará alfabéticamente y deberá referenciar las citas usadas en el texto; en éste las citas indicarán autor y año del trabajo, siguiendo orden cronológico, Ej: (Porter et al., 1950; Jones, 1990).</p>

            <p>La bibliografía será:</p>

            <p style="text-decoration: underline;">En libros</p>

            <p>Landsberg, J.J., Gower S.T., 1997. Applications of Physiological Ecology to Forest Management, Academic Press, California, pp. 354.</p>

            <p style="text-decoration: underline;">Capítulos de libros</p>

            <p>Jeffrey, D.W., 1988. Mineral nutrients and the soil environment. En: Jones, M.B., Lazenby, A., (Eds.), The Grass Crop, Chapman and Hall, London, pp. 179-201.</p>

            <p style="text-decoration: underline;">En revistas científicas</p>

            <p>Lusk, C.H., Contreras, O., Figueroa, J., 1997. Growth, biomass allocation and plant nitrogen concentration in Chilean temperate rainforest tree seedling: effects of nutrient availability. Ecology 109, 49-58.</p>

            <p style="text-decoration: underline;">Actas de jornadas y congreso</p>

            <p>Caldentey, J., Schmidt, H., Bowen, H., 1993. Acumulación de biomasa y nutrientes en rodales de Lenga (Nothofagus pumilio) en Magallanes, Chile. Actas VII Jornadas Técnicas Forestales: Ecosistemas forestales nativos: uso, manejo y conservación. El Dorado, Argentina, pp. 22-36.</p>

            <p><b>Formato de tablas y gráficos:</b> En escala de grises. Fuente: Arial 9 regular, para todo texto que incluyan. Se sugiere considerar la extensión de tablas y gráficos a fin de no superar las seis páginas de extensión máxima del trabajo. La leyenda de las Tablas deberá colocarse en la parte superior y la leyenda de los gráficos en la parte inferior. Los gráficos deberán presentarse en archivo separado en formato JPG con resolución de 300 dpi para su mejor impresión.</p>

            <p><b>Formato de imágenes:</b> Formato JPG, con resolución de 300 dpi. Las fotos e imágenes deben ser presentadas en páginas separadas.</p>

            <p><b>Los trabajos deberán enviarse a la cuenta de correo: <span style="font-weight: bold; color: red; background-color: yellow; font-size: 20px;">xcongreso@silvopastoril2019.org.py</span></b> </p>

            <p>Los archivos de texto deberán enviarse en formato *.docx y *.rtf, para que mantengan características de escritura, como negritas, superíndices, etc., con las figuras y tablas insertas en el mismo.</p>

            <p>Cada archivo deberá identificarse de la siguiente forma:</p>

            <p>Letra de la temática del trabajo, según corresponda con la opción del siguiente listado, seguida por Guion, Apellido y Primer nombre (sin espacio) del autor principal. <b>Ej: G-PerezPablo.docx</b></p>

            <ul>
                <li>(G) – Ganadería sostenible, biodiversidad, ambiente y cambio climático</li>
                <li>(P) – Producción simultánea de bienes pecuarios y forestales.</li>
                <li>(S) – Socio economía en sistemas silvopastoriles.</li>
                <li>(E) – Escenarios productivos en sistemas silvopastoriles (testimonios de productores).</li>
            </ul>

            <p><b>Para la inclusión de los trabajos en las memorias es necesario que al menos uno de los autores esté debidamente inscrito en el Congreso.</b></p>

            <p><b>Modalidad de Evaluación:</b></p>

            <p>Los trabajos serán evaluados en forma anónima, es decir sin autores, direcciones y citas del texto que indiquen procedencia del trabajo.</p> 

            <p>Todos los trabajos aprobados se expondrán en forma oral o en poster. Esta información será comunicada a los autores. Una vez evaluados, los trabajos se deben presentar de acuerdo a las pautas para presentar que se detalla a continuación:</p>

            <p><b>1.	PAUTAS PARA PRESENTACIÓN ORAL</b></p>

            <p>Las presentaciones orales deben estar compuestas por los siguientes ítems:</p>

            <ul>
                <li>Título</li>
                <li>Autores</li>
                <li>Introducción o Antecedentes</li>
                <li>Materiales y Métodos</li>
                <li>Resultados y Discusión</li>
                <li>Conclusiones</li>
                <li>Agradecimientos (opcional)</li>
            </ul>
            

            <p><b>2.	PAUTAS PARA PRESENTACIÓN DE POSTERS</b></p>

            <p>Los posters de los trabajos que se aprueben para presentación en esta modalidad, deberán elaborarse de acuerdo a las siguientes directrices.</p>

            <p><b>Incluya solamente:</b></p>

            <ul>
                <li>Título (preferiblemente inferior a 100 caracteres, excluyendo los espacios).</li>
                <li>Autores (con la dirección institucional y electrónica).</li>
                <li>Introducción (con caracterización del problema y que culmina con los objetivos).</li>
                <li>Materiales y Métodos.</li>
                <li>Resultados.</li>
                <li>Conclusiones (si las hubiera).</li>

            </ul>
            
            <p>Construya oraciones (de no más de 15 o 20 palabras), y párrafos sencillos, respetando las reglas gramaticales y ortográficas del idioma, al igual que los símbolos internacionales y abreviaturas.</p>

            <p>Prefiera cuadros, figuras y fotografías en lugar de textos largos.</p>

            <p>Use negritas para dar énfasis, cursivas para palabras en otro idioma (latín, inglés, etc.) y comillas para vulgarismos.</p>

            <p>Coloque leyendas simples en cuadros (parte superior) y figuras o fotos (parte inferior).</p>

            <p>Utilice formato vertical (porta retrato). Tamaño 110 cm de alto por 70 cm de ancho (debe ser respetado estrictamente), en lo posible con un margen de 2 cm.</p>

            <p>La configuración gráfica es conveniente que sea sobre la base de dos o tres columnas.</p>

            <p>Utilice tipografía sencilla no menor de 72 puntos para título, 48 puntos para sub títulos y 30 puntos para texto.</p>

            <p>Asegúrese que el póster pueda ser leído en tres o cuatro minutos como máximo a una distancia de 0,9 – 1,50 m.</p>

            <p>Evite que las texturas o figuras de fondo compitan visualmente con los textos y demás elementos gráficos.</p>

            
            <ul><li><a href="/" class="buttonContact">ATRÁS</a></li></ul>
            

        </div>

{% endblock %}