{% extends 'basei.html' %}

{% block title %}Norms{% endblock %}

{% block content %}

<div id="container">

    <div id="normas">

        <h1>RULES FOR THE PRESENTATION OF PAPERS</h1>

        <p>(The approved works will be published in a e-book in PDF format with it’s corresponding ISBN).
        </p>

        <p><span style="text-decoration: line-through;">Deadline for submission of papers: 21/04/2019</span></p>

        <p>Extension for presentation of papers: <span style="font-weight: bold; color: white; background-color: #e47401; font-size: 15px; padding: 0 10px 0 10px;">26/05/19</span></p>

        <p>Papers should be sent to the mail account: <span style="font-weight: bold; color: white; background-color: #e47401; font-size: 15px; padding: 0 10px 0 10px;">xcongreso@silvopastoril2019.org.py</span></p>

        <p style="font-size: 25px;"><b>GENERAL RECOMMENDATIONS</b></p>

        <p style="font-weight: bold; font-size: 20px;">General aspects</p>

        <p>The presentations organization will follow the structure of scientific works. The maximum length will be 6
            (six) pages, including graphs, tables and images. Extended resumes 2 (two) pages long will be accepted. All
            must indicate if they prefer an oral (provided it is selected for oral presentation) or poster presentation.
        </p>

        <p>The papers language can be Spanish, English or Portuguese. The document must indicate the number of lines and
            pages. The pages must be configured in letter size paper, with a left margin of 3 cm, and 2.5 cm for the
            rest of the margins. Justifie the text of left and right margins. It is suggested to use Times New Roman
            font size 12, with simple spacing. Do not format the paragraphs. Short sentences and a minimum of two
            sentences in no more than 10 – 12 lines paragraphs are suggested.</p>

        <p style="font-weight: bold; font-size: 20px;">Structure of papers presented</p>

        <p style="text-decoration: underline;">Each paper (oral and poster presentation) must include:</p>

        <ul>
            <li>Title</li>
            <li>Authors</li>
            <li>Abstract</li>
            <li>Key words</li>
            <li>Summary (in Spanish)</li>
            <li>Key words (in Spanish)</li>
            <li>Introduction</li>
            <li>Materials and Methods</li>
            <li>Results and Discussion</li>
            <li>Conclusion</li>
            <li>Acknowledgments (optional)</li>
            <li>Bibliography</li>
        </ul>

        <p style="font-size: 25px;"><b>COMPLEATE PAPER’S</b></p>

        <p><b style="text-decoration: underline;">Main Title:</b> Bold type, using a capital letter only in the first letter of the first Word, maximum three
            lines. The title must be in Spanish (or Portuguese) and English. The proper nouns that are included must
            also present this same criterion.</p>

        <p><b style="text-decoration: underline;">Authors:</b> Listed after the titles, in Italic type, initials of the first name, and full last name,
            followed, in Times new Roman, normal, by workplace, postal address and main author electronic address or
            address meant to receive all messages.</p>

        <p><b style="text-decoration: underline;">Summary:</b> In Spanish (or Portuguese) and in English (Abstract): It must not exceed 250 words and must
            contain in a single paragraph Objectives, Materials and Methods, Results and Conclusions.</p>

        <p><b style="text-decoration: underline;">Keywords:</b> in Spanish (or Portuguese) and in English (Keywords): italics normal. Five (5) words
            maximum, not used in the title</p>

        <p>The utmost effort will be done to include titles, authors, summary and abstract and key words in the first
            page of the hole presentation.
        </p>

        <p><b style="text-decoration: underline;">Introduction:</b> Present the problem, the purpose of the investigation or the project and the reference
            background.</p>

        <p><b style="text-decoration: underline;">Materials and Methods:</b> Brief description of the materials, methods, techniques, experimental design
            and statistical methodology used.</p>

        <p><b style="text-decoration: underline;">Results and discussion:</b>They can go together or separately. The results achieved (preliminary or
            expected in case of projects) will be summarized. They will be discussed in relation to the question
            presented in the introduction.</p>

        <p><b style="text-decoration: underline;">Conclusions:</b> It will synthesize the relevant points of the work and their implications.</p>

        <p><b style="text-decoration: underline;">Acknowledgements (optional):</b> Arial 9 regular (no bold).</p>

        <p><b style="text-decoration: underline;">Bibliography:</b> Arial 9 regular (no bold). The list of the bibliography will be ordered alphabetically
            and should refer to the citations used in the text; in this text the citations will indicate author and year
            of work, following chronological order, e.g. (Porter et al., 1950; Jones, 1990).</p>

        <p style="text-decoration: underline;">In books</p>

        <p>Landsberg, J.J., Gower S.T., 1997. Applications of Physiological Ecology to Forest Management, Academic
            Press, California, pp. 354.</p>

        <p style="text-decoration: underline;">Chapters of books</p>

        <p>Jeffrey, D.W., 1988. Mineral nutrients and the soil environment. En: Jones, M.B., Lazenby, A., (Eds.),
            The Grass Crop, Chapman and Hall, London, pp. 179-201.</p>

        <p style="text-decoration: underline;">In scientific journals</p>

        <p>Lusk, C.H., Contreras, O., Figueroa, J., 1997. Growth, biomass allocation and plant nitrogen
            concentration in Chilean temperate rainforest tree seedling: effects of nutrient availability. Ecology
            109, 49-58.</p>

        <p style="text-decoration: underline;">Proceedings of conferences and congresses</p>

        <p>Caldentey, J., Schmidt, H., Bowen, H., 1993. Acumulación de biomasa y nutrientes en rodales de Lenga
            (Nothofagus pumilio) en Magallanes, Chile. Actas VII Jornadas Técnicas Forestales: Ecosistemas
            forestales nativos: uso, manejo y conservación. El Dorado, Argentina, pp. 22-36.</p>

        <p><b>Format of tables and graphs:</b> Grayscale Source, Arial 9 regular, for all text included. It is suggested
            to consider the length of tables and graphs in order not to exceed six pages of maximum length of the work.
            The legend of the Tables should be placed at the top and the legend of the graphs at the bottom. The
            graphics should be presented in a separate file in JPG format with a resolution of 300 dpi for best
            printing.</p>

        <p><b style="text-decoration: underline;">Image format:</b> JPG format, with 300 dpi resolution. Photos and images must be presented in separate
            pages.</p>

        <p style="font-size: 25px;"><b>EXTENDED RESUME’S</b></p>

        <p>Titles: Just as in complete papers, use bold letters, using a capital letter only in the first letter of the
            first Word, maximum three lines. The title must be in Spanish (or Portuguese) and English. The proper nouns
            that are included must also present this same criterion.</p>
        <p>Authors: Just as in complete papers, listed after the titles, in Italic type, initials of the first name, and
            full last name, followed, in Times new Roman, normal, by workplace, postal address and main author
            electronic address or address meant to receive all messages.</p>
        <p>Extended resume/abstract: The abstract will include a maximum of 500 words and must contain in only one
            paragraph objectives, materials and methods, results and conclusions.</p>
        <p>Keywords: in Spanish (or Portuguese) and in English (Keywords): italics normal. Five (5) words maximum, not
            used in the titles.</p>
        <p>The máximum extensión of expanded resumes will be 2 (two) pages.</p>

        <p style="font-size: 25px;"><b>SENDING THE PAPER’S</b></p>

        <p><b>The works should be sent to the email account: <span
                    style="font-weight: bold; color: white; background-color: #e47401; font-size: 15px; padding: 0 10px 0 10px;">xcongreso@silvopastoril2019.org.py</span></b>
        </p>

        <p><b>Archives formats:</b>Text files should be sent in *.docx and *.rtf format, so that they maintain writing
            characteristics, such as
            bold, superscripts, etc., with the figures and tables inserted in it.</p>

        <p><b>Archives identification and name:</b>Each file must be identified in the following way:</p>

        <p>Letter of the subject of the work, as appropriate with the option of the following list, followed by Script,
            Surname and First name (without space) of the main author. <b>Ex: G-PerezPablo.docx</b></p>

        <ul>
            <li>(G) - Sustainable livestock, biodiversity, environment and climate change</li>
            <li>(P) - Simultaneous production of livestock and forest goods.</li>
            <li>(S) - Socio-economy in silvopastoral systems.</li>
            <li>(E) - Productive scenarios in silvopastoral systems (producer testimonies).</li>
        </ul>

        <p><b>For the inclusion of the works in the reports it is necessary that at least one of the authors is duly
                registered in the Congress.</b></p>

        <p style="font-size: 25px;"><b>PAPERS EVALUATION</b></p>

        <p>Works will be evaluated anonymously, that is, without authors, addresses and quotations from the text that
            indicate the origin of the work, by members of the scientific commission of the Xth International
            Silvopastoral Systems 2019 - Paraguay.</p>

        <p>All approved papers will be presented orally or in poster. This information will be communicated to the
            authors. Once evaluated, works must be submitted according to the fallowing guidelines:</p>

        <p><b style="font-size: 20px;">1. GUIDELINES FOR ORAL PRESENTATION</b></p>

        <p>The oral presentations must be composed of the following items:</p>

        <ul>
            <li>Title</li>
            <li>Authors</li>
            <li>Introduction or Background</li>
            <li>Materials and Methods</li>
            <li>Results and Discussion</li>
            <li>Conclusions</li>
            <li>Acknowledgements (optional)</li>
        </ul>

        <p><b style="font-size: 20px;">2. GUIDELINES FOR SUBMISSION OF POSTERS</b></p>

        <p>Posters of works that have been approved for presentation in this modality should be prepared according to
            the following guidelines.</p>

        <p><b style="font-size: 20px;">Include only:</b></p>

        <ul>
            <li>Title (preferably less than 100 characters, excluding spaces).</li>
            <li>Authors (with institutional and electronic address).</li>
            <li>Introduction (with characterization of the problem and that culminates with the objectives).</li>
            <li>Materials and Methods.</li>
            <li>Results</li>
            <li>Conclusions (if any).</li>

        </ul>

        <p>Build short sentences (no more than 15 to 20 words), and simple paragraphs, respecting the grammatical and
            orthographic rules of the language, as well as international symbols and abbreviations.</p>

        <p>Prefer pictures, figures and photographs rather than long texts.</p>

        <p>Use bold to give emphasis, italics for words in another language (Latin, English, etc.) and quotation marks
            for vulgarisms.</p>

        <p>Place simple legends in boxes (top) and figures or photos (bottom).</p>

        <p>Use vertical format (porta porta). Size 110 cm high by 70 cm wide (should be strictly respected), where
            possible with a margin of 2 cm.</p>

        <p>The graphic configuration is convenient to be based on two or three columns.</p>

        <p>Use simple typography not less than 72 points for title, 48 points for sub titles and 30 points for text.</p>

        <p>Make sure that the poster can be read in three or four minutes maximum at a distance of 0.9 - 1.50 m.</p>

        <p>Avoid that textures or background figures compete visually with texts and other graphic elements.</p>

        <p style="font-size: 25px;">Download the PDF version of the Presentation Rules</p>

        <a style="text-decoration: none; padding-left: 100px; font-size: 20px; color: #28a745;"
            href="{{url_for('static', filename='files/X CISSP 2019-Py_Presentation Guidelines.pdf')}}" download>RULES
            FOR THE PRESENTATION</a>

        <ul>
            <li><a href="/homei" class="buttonContact">BACK</a></li>
        </ul>


    </div>

    <script>
        document.body.style.backgroundImage = 'url(/static/img/fondo_desenfocado.png)';
    </script>

    {% endblock %}