{% extends 'base.html' %}
{% block title %}Noticias{% endblock %}
{% block content %}

<div class="container-noticias" style="width: 50%;">
    <h1 style="color:white; text-align:center">Noticias</h1>
    <br>
    <br>
    <br>
    <h1>Resoluciones Varias acerca del X Congreso Internacional de Sistemas Silvopastoriles 2019</h1><br>
    <br>
    <br>
    <p>
        El Congreso Nacional declara en sesion ordinaria el 22 de agosto del corriente año,
        el X Congreso Internacional de Sistemas Silvopastoriles 2019 de Interes Nacional
    </p>
    <div class="tz-gallery" style="width: 40%;">
        <div class="row">
            <div class="col">
                <div class="card">
                    <a class="lightbox" href="/static/img/resoluciones/DECLARACION 105 CONGRESO.jpg">
                        <img src="/static/img/resoluciones/DECLARACION 105 CONGRESO.jpg" alt="Park"
                            class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
        <p>
            La Secretaria Nacional de Turismo declara de interes Turistico Nacional el evento X Congreso Internacional de Sistemas Silvopastoriles 2019
        </p>
    <div class="tz-gallery" style="width: 80%;">
        <div class="row mb-12">
            <div class="col">
                <div class="card">
                    <a class="lightbox" href="/static/img/resoluciones/RESOLUCION 202 SENATUR 1.jpg">
                        <img src="/static/img/resoluciones/RESOLUCION 202 SENATUR 1.jpg" alt="Park"
                            class="card-img-top">
                    </a>
                </div>
            </div>
                <div class="col">
                    <div class="card">
                        <a class="lightbox" href="/static/img/resoluciones/RESOLUCION 202 SENATUR 2.jpg">
                            <img src="/static/img/resoluciones/RESOLUCION 202 SENATUR 2.jpg" alt="Park"
                                class="card-img-top">
                        </a>
                    </div>
                </div>
            </div>
    </div>
        <br><br><br>
        <p>
            El Consejo Nacional de Ciencia y Tecnologia (CONACYT), declara de interes Cientifico el X Congreso Internacional de Sistemas Silvopastoriles 2019
        </p>
    
    <div class="tz-gallery" style="width: 40%;">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <a class="lightbox" href="/static/img/resoluciones/RESOLUCION 279_2019 CONACYT.jpg">
                            <img src="/static/img/resoluciones/RESOLUCION 279_2019 CONACYT.jpg" alt="Park"
                                class="card-img-top">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>

        <p>
            El Instituto Forestal Nacional (INFONA), declara de interes Institucional el X Congreso Internacional de Sistemas Silvopastoriles 2019
        </p>
    
    <div class="tz-gallery" style="width: 40%;">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <a class="lightbox" href="/static/img/resoluciones/RESOLUCION 415_2019.jpg">
                            <img src="/static/img/resoluciones/RESOLUCION 415_2019.jpg" alt="Park"
                                class="card-img-top">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>

</div>



{% endblock %}