{% extends 'base.html' %}
{% block title %}Programa{% endblock %}
{% block content %}

<div class="container-program">
    
    <h1>PROGRAMA X CONGRESO INTERNACIONAL DE SISTEMAS SILVOPASTORILES</h1>

    <img src="{{url_for('static', filename='img/program/programa_manana1.png')}}" alt="" style="width: 60%" class="center">
    <img src="{{url_for('static', filename='img/program/programa_tarde1.png')}}" alt="" style="width: 60%" class="center">
    <img src="{{url_for('static', filename='img/program/programa_dia2_manana1.png')}}" alt="" style="width: 60%" class="center">
    <img src="{{url_for('static', filename='img/program/programa_dia2_manana2.png')}}" alt="" style="width: 60%" class="center">
    <img src="{{url_for('static', filename='img/program/programa_dia2_tarde.png')}}" alt="" style="width: 60%" class="center">
    <img src="{{url_for('static', filename='img/program/programa_dia3_manana1.png')}}" alt="" style="width: 60%" class="center">
    <img src="{{url_for('static', filename='img/program/programa_dia3_manana2.png')}}" alt="" style="width: 60%" class="center">
    <img src="{{url_for('static', filename='img/program/programa_ultimo _dia3.png')}}" alt="" style="width: 60%" class="center">

</div>

{% endblock %}