{% extends 'base.html' %}
{% block title %}Programa{% endblock %}
{% block content %}

<div class="container-program">

    <h1>PROGRAMA X CONGRESO INTERNACIONAL DE SISTEMAS SILVOPASTORILES</h1><br><br>

    <img src="/static/img/programa_jpg/prueba1.jpg" style=" width: 70%;" alt="">
    <img src="/static/img/programa_jpg/prueba2.jpg" style=" width: 70%;" alt="">
    <img src="/static/img/programa_jpg/prueba3.jpg" style=" width: 70%;" alt="">
    <img src="/static/img/programa_jpg/prueba4.jpg" style=" width: 70%;" alt="">
    <img src="/static/img/programa_jpg/prueba5.jpg" style=" width: 70%;" alt="">
    <img src="/static/img/programa_jpg/prueba6.jpg" style=" width: 70%;" alt="">
    <img src="/static/img/programa_jpg/prueba7.jpg" style=" width: 70%;" alt="">
    <img src="/static/img/programa_jpg/prueba8.jpg" style=" width: 70%;" alt="">

</div>

<p style="color: white;">
    Aqui podras descarga el programa del Congreso en formato PDF
</p><br>
<a style="text-decoration: none; margin:20px; font-size: 30px; color: #28a745;"
    href="{{url_for('static', filename='files/X CISSP 2019-Py_Programa Congreso.pdf')}}" download>>>>Programa Para el
    Congreso<<<</a> <script>



    </script>

        {% endblock %}