<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reporte</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reporte-style.css')}}">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
</head>

<body>
    
    <br>
    Fecha<br>
    {{ fecha }}<br>
    <br>
    Comercio<br>
    {%if medio_pago == 'Procard - Tarjetas de crédito' or medio_pago == 'Bancard - Tarjetas de crédito' %}
    INFONA - Tarjetas de Credito {%else%} Instituto Forestal Nacional<br>
    {%endif%}
    <br>
    Nombre<br>
    {{ nombre }}<br><br>
    Descripcion<br>
    Inscripción
    {{ descripcion }}<br><br>
    E-mail<br>
    {{ email }}<br><br>
    Telefono<br>
    {{ telefono }}<br><br>
    Dirección<br>
    {{ direccion }}<br><br>
    CI<br>
    {{ ci }}<br><br>
    Razón Social / RUC<br>
    {{razon }} / {{ ruc }}<br><br>
    Compras<br><br>
    <table>
        <tr>
            <th style="text-align: left;">Descripcion</th>
            <th>Cantidad</th>
            <th style="text-align: right;">Monto</th>
        </tr>
        <tr>
            <td>{% if ocupacion == 'Estudiante Nacional' or ocupacion == 'Estudiante Extranjero' %}
                
                Inscripcion Estudiante Nacional/Internacional, 
                el monto que figura corresponde a la moneda local (Guaraníes) lo cual equivale al monto total 
                de 100 USD (Tipo de cambio del dia Gs. {{ (ms_inter/100)|int|round }})
                {% elif ocupacion == 'Profesional Nacional'%}
                
                Inscripcion Profesional Nacional, 
                el monto que figura corresponde a la moneda local (Guaraníes) lo cual equivale al monto total 
                de 150 USD (Tipo de cambio del dia Gs. {{ (ms_inter/150)|int|round }})
                
                {% else %}
                Inscripcion Profesional Extranjero, 
                el monto que figura corresponde a la moneda local (Guaraníes) lo cual equivale al monto total 
                de 150 USD (Tipo de cambio del dia Gs. {{ (ms_inter/200)|int|round }})

                {% endif %}
            </td>
            <td style="text-align: center;">1</td>
            <td style="text-align: right;">{{ monto_total }}</td>
        </tr>
        <tr>
            <td>Comision Pagopar</td>
            <td style="text-align: center;">1</td>
            <td style="text-align: right;">{{ comision }}</td>
        </tr>
        <tr>
            <td>Acreditado {%if medio_pago == 'Procard - Tarjetas de crédito'%}
                    INFONA - Tarjetas de Credito {%else%} Instituto Forestal Nacional<br>
                    {%endif%}</td>
            <td style="text-align: center;">1</td>
            <td style="text-align: right;">{{ ms_inter }}</td>
        </tr>
    </table>
</body>

</html>