<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reporte</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reporte-style.css')}}">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
</head>

<body>
    
    <br>
    Fecha<br>
    {{ fecha }}<br>
    <br>
    Comercio<br>
    {%if medio_pago == 'Procard - Tarjetas de crédito' or medio_pago == 'Bancard - Tarjetas de crédito' %}
    INFONA - Tarjetas de Credito {%else%} Instituto Forestal Nacional<br>
    {%endif%}
    <br>
    Nombre<br>
    {{ nombre }}<br><br>
    Descripcion<br>
    Inscripción
    {{ descripcion }}<br><br>
    E-mail<br>
    {{ email }}<br><br>
    Telefono<br>
    {{ telefono }}<br><br>
    CI<br>
    {{ ci }}<br><br>
    Razón Social / RUC<br>
    {{razon }} / {{ ruc }}<br><br>
    Compras<br><br>
    <table>
        <tr>
            <th style="text-align: left;">Descripcion</th>
            <th>Cantidad</th>
            <th>Monto</th>
        </tr>
        <tr>
            <td>Inscripcion Estudiante Nacional/Internacional, el monto que figura corresponde a la moneda local (Guaraníes) lo cual equivale al monto total de 100 USD (Tipo de cambio del dia)</td>
            <td>1</td>
            <td>{{ monto_total }}</td>
        </tr>
        <tr>
            <td>Comision Pagopar</td>
            <td>1</td>
            <td>{{ comision }}</td>
        </tr>
        <tr>
            <td>Acreditado {%if medio_pago == 'Procard - Tarjetas de crédito'%}
                    INFONA - Tarjetas de Credito {%else%} Instituto Forestal Nacional<br>
                    {%endif%}</td>
            <td>1</td>
            <td>{{ ms_inter }}</td>
        </tr>
    </table>
</body>

</html>