{% extends 'base.html' %}

{% block content %}
<div class="mensaje" style="width: 50%; height: 330px; margin-top: 10%;">
    <h3 style="color:white">{{ mensaje }}</h3>

    <ul style="color:white; font-size: 20px;">
        {% for data in datos %}
        <h3>Resumen</h3>
        <li>Número de pedido de pago: {{ data[7] }}</li>
        <li>Forma de pago: {% if data[9] == '9' %} Bancard {% elif data[9] == '1' %} Procard {% elif data[9] == '2' %}
            Aqui Pago {% elif data[9] == '3' %} Pago Express {% elif data[9] == '4' %} Practipago
            {% elif data[9] == '7' %} Cuenta Bancaria {% else %} Tigo Money {% endif %}</li>
        <li>Estado del pago: {% if data[1] == 1 %} Pagado {% else %} No pagado {% endif %}</li>
        <li>Fecha de pago: {{ data[3] }}</li>
        <li>Monto: {{ data[4] }}</li>
        <li>Fecha máxima de pago: {{ data[5] }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}