{% extends 'base.html' %}

{% block content %}

<div class="mensaje" style="width: 50%; height: 330px; margin-top: 10%;">

    <h3 style="color:white">{{ mensaje }}</h3>
    <br>
    <ul style="color:white; font-size: 20px;"><strong>¿Porqué no se realizó el pago? Algunos de los errores más comunes son:</strong>
        <li>La tarjeta no tiene fondos suficientes</li>
        <li>La tarjeta no está habilitada para compras en Internet</li>
        <li>Se ingresó incorrectamente el código CVV</li>
    </ul>
    <p style="color:white; font-size: 20px;">Para saber más detalle sobre porqué no pudo realizarse el pago puede comunicarse con la entidad financiera
        emisora de su tarjeta<p>

</div>
{% endblock %}